<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a class="navbar-brand" href="/">Acmepy</a>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/khadkakrishna/acmepy-web-app" target="_blank">Docs</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#"role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Certificate</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Create</a>
                    <a class="dropdown-item" href="#">View</a>
                    <a class="dropdown-item" href="#">Revoke</a>
                    <a class="dropdown-item" href="#">Delete</a>
                    <a class="dropdown-item" href="#">Renew</a>
                </div>
            </li>
        </ul>
        <a href="#" class="btn btn-light text-dark my-2 my-sm-0">Account</a>

    </div>
  </nav>